@spacing-tiny: 0.25rem;
@spacing-small: 0.5rem;
@spacing-medium: 1rem;
@spacing-large: 2rem;

@font-size-text: 1.1rem;
@font-size-header: 1.55rem;
@font-size-title: 2.1rem;

@color-disabled: hsl(0, 0%, 70%);
@color-selected: #39B200;
